
<div class="view full-page-intro" style="margin-top: 20px;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row wow fadeIn">
          <div class="col-md-6 col-xl-5 mb-4">
            <div class="card">
              <div class="card-body">
                  <h2 class="alert alert-danger" *ngIf="showErrorMessage">hey, {{showErrorMessage}}</h2>
                <form [formGroup]="passwordUpdate" (ngSubmit)="Save(passwordUpdate.value)">
                  <p class="h4 text-center mb-4">Password Update</p>
                 <div formGroupName="UserLogin">

                     <div class="md-form">
                       <i class="fa fa-lock prefix grey-text"></i>
                       <label for="materialFormRegisterPasswordEx">Your password</label>
                       <input type="password" class="form-control"
                       formControlName="Password"
                       [class.is-valid]="passwordUpdate.controls.UserLogin.controls.Password.valid"
                       [class.is-invalid]="!passwordUpdate.controls.UserLogin.controls.Password.valid && submitted"
                       >
                     
                     </div>
                 </div>
                 
                      <div>
                        <button class="btn btn-primary" type="submit" style="margin-top:10px">submit</button>
                      </div>
                  
               </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>